.header_img {
    width: 300px;
}
header lu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    color: white;
}
header li {
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
}


main {
    display: flex;
    width: 100%;
}

.left {
    width: 70%;
}
h1 {
    margin-top: 3%;
    border-left: 4px solid black;
    border-bottom: 2px solid black;
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
    background-color: lightgray;
}
.box_pic {
    width: 22%;
}
img {
    width: 100%;
}
.memo {
    margin: 0;
    text-align: center;
}


.right {
    width: 30%;
}
h2{
    margin-top: 10%;
    margin-left: 10%;
    border-bottom: 2px solid black;
}
.right li {
    list-style: none;
    margin-left: 15%;
    padding: 2%;
}

footer {
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: black;
    text-align: center;
    color: white;
}